body{
    background-color: #B5B0FB;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-pagina{
    color: #5850C7;
    
    font-size: xx-large;
    font-weight: bold;

    align-content: center;

}

.fundo-form{
    width: 340px;
    height: 22rem;

    background-color: #5850C7;

    border-radius: 30px;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    row-gap: 30px;

    align-items: center;
    align-content: center;

}

input, select, textarea{
    border-radius: 20px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;

    padding-left: 8px;

    background: #5850C7;
    color: white;
    border: none;

    min-height: 20px;
}


.fundo-input-large{
        display: flex;
        flex-wrap: wrap;
    
        background-color: #6E64FA;
    
        height: 100px;
        border-radius: 20px;
        align-content: center;
}

.fundo-input{
    display: flex;
    flex-wrap: wrap;

    background-color: #6E64FA;

    height: 36px;
    border-radius: 50px;
    align-content: center;

}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

input[type=date]{
    width: 150px;
}

.btn-cadastro{
    color: white;
    background-color: #6E64FA;
    font-weight: bolder;

    font-size: large;

    border-radius: 50px;
    height: 60px;
    width: 160px;

    margin-top: 1.875rem;

    margin-left: 5rem;

    border: none;
}